<img id="background" src="./img/audi-bg-movimiento.png" alt="" fetchpriority="high" class="-z-10 absolute w-dvw h-dvh object-cover"/>
<div id="container" class=" text-neutral-100 flex flex-col justify-center items-center h-dvh bg-stone-950/80 backdrop-blur-xs gap-2">
    <h1 class=" text-7xl font-medium ">Felicitaciones</h1>
    <h2 class="text-2xl">ganaste un DESCUENTO </h2>
    <p class="text-neutral-300">*válido en la tienda de Audi Argentina</p>
    <div class="flex gap-5">
        <a href="https://www.audi.com.ar/es/" target="_blank" class="font-medium rounded-2xl px-4 py-1 text-2xl mt-16 bg-neutral-100/20 border-amber-50 border-2 backdrop-blur-2xl ">Canjear premio</a>
        <a href="/trivia" class="font-medium rounded-2xl px-4 py-1 text-2xl mt-16 bg-neutral-100/20 border-amber-50 border-2 backdrop-blur-2xl ">Volver a empezar</a>
        
    </div>
    <a href="/trivia" class="font-medium rounded-2xl px-4 py-1 text-2xl mt-16 bg-neutral-900/20 border-amber-50 border-2 backdrop-blur-2xl ">Volver al inicio</a>
</div>