<img
    id="background"
    src="./img/audi-bg-movimiento.png"
    alt=""
    fetchpriority="high"
    class="-z-10 absolute w-dvw h-dvh object-cover"
/>
<div
    id="container"
    class="text-neutral-100 flex flex-col justify-center items-center h-dvh   bg-stone-950/80 backdrop-blur-xs gap-5 "
>
    <h1 class="text-7xl font-medium">Motores</h1>
    <h2 class="text-2xl">Qué motores podemos encontrar en Audis R8?</h2>
    <div class="flex gap-4">
        <a
            class="respuestas font-medium rounded-2xl px-4 py-1 text-2xl mt-16 bg-neutral-100/70 backdrop-blur-2xl text-neutral-800 cursor-pointer"
            >v8 y v10</a
        >
        <a
            class="respuestas font-medium rounded-2xl px-4 py-1 text-2xl mt-16 bg-neutral-100/70 backdrop-blur-2xl text-neutral-800 cursor-pointer"
            >v8 y v7</a
        >
        <a
            class="respuestas font-medium rounded-2xl px-4 py-1 text-2xl mt-16 bg-neutral-100/70 backdrop-blur-2xl text-neutral-800 cursor-pointer"
            >v7 y v10</a
        >
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const respuesta = document.getElementsByClassName("respuestas");

        for (let i = 0; i < respuesta.length; i++) {
            respuesta[i].addEventListener("click", async (event) => {
                event.preventDefault();

                const clickeada = respuesta[i];
                const esCorrecta = clickeada.innerHTML === "v8 y v10";

                
                const notificacionAnterior =
                    document.getElementById("cartel-contenedor");
                if (notificacionAnterior) {
                    notificacionAnterior.remove();
                }

                // CONTENEDOR
                const cartelContenedor = document.createElement("div");
                cartelContenedor.id = "cartel-contenedor";
                cartelContenedor.className =
                    "h-dvh w-dvw absolute top-0 flex justify-center items-center text-center";

                //CONTENIDO
                const cartel = document.createElement("div");
                cartel.id = "cartel-notificacion";
                cartel.className =
                    "bg-neutral-200/70 backdrop-blur-sm w-120 h-50 rounded-2xl p-7 flex flex-col gap-3";
                //TITULO
                const titulo = document.createElement("h1");
                titulo.id = "titulo-notificacion";
                titulo.className = "font-bold text-4xl";
                titulo.textContent = esCorrecta ? "¡Correcto!" : "Incorrecto";
                //TEXTO
                const contenido = document.createElement("p");
                contenido.id = "contenido-notificacion";
                contenido.textContent = esCorrecta
                    ? "Bien hecho"
                    : "Vuelva a intentar";
                //BOTON
                const boton = document.createElement("a");
                boton.id = "aceptar-notificacion";
                boton.href = "#";
                boton.className =
                    "bg-neutral-950 text-neutral-100 px-20 py-1 rounded-2xl m-auto";
                boton.textContent = "Aceptar";
                //funcionamiento del boton
                if (esCorrecta) {
                    boton.addEventListener("click", (e) => {
                        e.preventDefault();
                        window.location.href = "/final"; 
                    });
                }

                boton.addEventListener("click", (e) => {
                    e.preventDefault();
                    cartelContenedor.remove(); 
                });

                
                cartel.appendChild(titulo);
                cartel.appendChild(contenido);
                cartel.appendChild(boton);
                cartelContenedor.appendChild(cartel);
                document.body.appendChild(cartelContenedor);
            });
        }
    });
</script>
