---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Audi R8 trivia</title>
	</head>
	<body class="bg-neutral-950">
		<nav class="text-neutral-100 absolute z-10 bg-black/90 w-dvw py-2 ">
			<ul class="flex justify-around">
				<li><a href="./">INICIO</a></li>
				<li><a href="./">Video</a></li>
			</ul>
		</nav>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
